{
  "name": "{{trigger.message.ChannelAttributes.from}}",
  "twitterUserHandle": "{{trigger.message.ChannelAttributes.senderScreenName}}",
  "channelType": "{{trigger.message.ChannelAttributes.channel_type}}",
  "channelSid": "{{trigger.message.ChannelSid}}",
  "twilioNumber": "{{trigger.message.ChannelAttributes.twilioNumber}}",
  "ignoreAgent": "",
  "language":"${task_language}",
  "transferTargetType": "",
  "memory": {{widgets.ChatBot.memory | to_json}}
}
