{
  "name": "{{trigger.message.ChannelAttributes.from}}",
  "channelType": "{{trigger.message.ChannelAttributes.channel_type}}",
  "channelSid": "{{trigger.message.ChannelSid}}",
  "twilioNumber": "{{trigger.message.ChannelAttributes.twilioNumber}}",
  "ignoreAgent": "",
  "helpline":"${helpline}",
  "language":"${task_language}",
  "transferTargetType": "",
  "memory": {{trigger.message.ChannelAttributes.memory| to_json}}
}
