{
  "type": "inbound",
  "name": "{{trigger.call.From}}",
  "ignoreAgent": "",
  "helpline":"${helpline}",
  "transferTargetType": "",
  "channelType": "voice",
  "conversations": {
    "hang_up_by": "Customer"
  }
}
