{
  "task_routing": {
    "filters": [
      {
        "filter_friendly_name": "Survey Filter",
        "expression": "isSurveyTask==true",
        "targets": [
          {
            "expression": "isSurveyTask==true",
            "queue": "${task_queues.survey}"
          }
        ]
      }
    ]
  }
}