{
  "task_routing": {
    "filters": [
      {
        "filter_friendly_name": "Direct Transfers",
        "expression": "transferTargetType =='worker' AND isContactlessTask != true",
        "targets": [
          {
            "queue": "WQ4108456a369bc18ae0ed8b915b60cfde",
            "known_worker_sid": "task.targetSid",
            "expression": "worker.waitingOfflineContact != true",
            "priority": 150
          }
        ]
      },
      {
        "filter_friendly_name": "ES TYA Voicemail",
        "expression": "channelType =='voicemail' AND service=='tya' AND serviceLanguage == 'spanish'",
        "targets": [
          {
            "expression": "(worker.waitingOfflineContact != true AND (task.channelType == 'voicemail' AND worker.channel.voicemail.assigned_tasks == 0)  AND ((task.transferTargetType == 'worker' AND task.targetSid == worker.sid) OR (task.transferTargetType != 'worker' AND worker.sid != task.ignoreAgent)))",
            "queue": "WQ52683dec38717995d897f4dff0265c51"
          }
        ]
      },
      {
        "filter_friendly_name": "ES STD Voicemail",
        "expression": "channelType =='voicemail' AND service=='std' AND serviceLanguage == 'spanish'",
        "targets": [
          {
            "queue": "WQb799d238882ffbf25ebe4bf5866f48d0",
            "expression": "(worker.waitingOfflineContact != true AND (task.channelType == 'voicemail' AND worker.channel.voicemail.assigned_tasks == 0) AND ((task.transferTargetType == 'worker' AND task.targetSid == worker.sid) OR (task.transferTargetType != 'worker' AND worker.sid != task.ignoreAgent)))"
          }
        ]
      },
      {
        "filter_friendly_name": "Offline Contacts",
        "expression": "isContactlessTask == true",
        "targets": [
          {
            "expression": "(task.targetSid == worker.sid AND task.isContactlessTask == true)",
            "queue": "WQae4b541756a538e41a50356884b220a6"
          }
        ]
      },
      {
        "filter_friendly_name": "E2E Test",
        "expression": "channelType=='web' AND e2eTestMode=='true'",
        "targets": [
          {
            "expression": "(worker.waitingOfflineContact != true AND ((task.channelType == 'voice' AND worker.channel.chat.assigned_tasks == 0) OR (task.channelType != 'voice' AND worker.channel.voice.assigned_tasks == 0)) AND ((task.transferTargetType == 'worker' AND task.targetSid == worker.sid) OR (task.transferTargetType != 'worker' AND worker.sid != task.ignoreAgent))) OR (worker.waitingOfflineContact == true AND task.targetSid == worker.sid AND task.isContactlessTask == true)",
            "queue": "WQa95ab3ff38d43c3a3b720742a844fb28"
          }
        ]
      }
    ]
  }
}