helpline    = "TerraformPOC"
short_helpline = "POC"
short_environment = "DEV"
environment = "Development"
account_sid = "###"
auth_token  = "###"
aws_region  = "###"
aws_access_key = "###"
aws_secret_key = "###"
datadog_app_id = "###"
datadog_access_token = "###"
operating_info_key = "poc"
serverless_number = 0000