{
"name": "{{trigger.conversation.From}}",
"twilioNumber": "${address}",
"channelType": "{{trigger.conversation.Source}}",
"channelSid": "{{trigger.conversation.ChannelSid}}",
"ignoreAgent":"",
"language":"${task_language}",
"transferTargetType":""
}
