# These requirements are currently duplicated in infrastructure-config:/terraform/Dockerfile
# Eventually we should create a terraform tag for twilio-iac that is built in this repo and
# uses this file and any other requirements specific to this repo, but for now: If you modify
# this file, please also modify the requirements in infrastructure-config:/terraform/Dockerfile
# and build/push a new terraform docker image.
boto3==1.28.3
boto3-stubs[s3,ssm,sts]
deepdiff[cli]==6.3.1
deepmerge==1.1.0
pygments==2.15.1
termcolor==2.3.0
twilio==8.5.0
twilio-stubs==0.2.0
typing-extensions==4.7.1
google-api-python-client==2.137.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
gspread==4.0.1
google-auth==2.3.0
