${
  jsonencode({
  "initial_state": "Trigger",
  "flags": {
    "allow_concurrent_calls": true
  },
  "description": "${flow_description}",
  "states": [
    {
      "name": "Trigger",
      "type": "trigger",
      "transitions": [
        {
          "event": "incomingMessage"
        },
        {
          "event": "incomingCall"
        },
        {
          "next": "f_sendMessageAndRunJanitor_sms_redirect",
          "event": "incomingConversationMessage"
        },
        {
          "event": "incomingRequest"
        },
        {
          "event": "incomingParent"
        }
      ],
      "properties": {
        "offset": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "name": "f_sendMessageAndRunJanitor_sms_redirect",
      "type": "make-http-request",
      "transitions": [
        {
          "event": "success"
        },
        {
          "next": "http_post_webhook_notify_failed_to_send_message",
          "event": "failed"
        }
      ],
      "properties": {
        "offset": {
          "x": 0,
          "y": 220
        },
        "method": "POST",
        "content_type": "application/x-www-form-urlencoded;charset=utf-8",
        "add_twilio_auth": false,
        "parameters": [
          {
            "value": "{{flow.channel.address}}",
            "key": "conversationSid"
          },
          {
            "value": "${flow_vars.send_message_sms_redirect}",
            "key": "message"
          },
          {
            "value": "NAMI",
            "key": "from"
          }
        ],
        "url": "${lambda_twilio_account_scoped_url}/conversation/sendMessageAndRunJanitor"
      }
    },
    {
      "name": "http_post_webhook_notify_failed_to_send_message",
      "type": "make-http-request",
      "transitions": [
        {
          "event": "success"
        },
        {
          "event": "failed"
        }
      ],
      "properties": {
        "offset": {
          "x": 360,
          "y": 470
        },
        "method": "POST",
        "content_type": "application/json;charset=utf-8",
        "add_twilio_auth": false,
        "body": "{ \"text\": \"Issue detected [Failed to send SMS redirect message] on ${short_helpline} ${short_environment} Flow SID: {{flow.flow_sid}} Execution SID: {{flow.sid}}  \" }",
        "url": "${webhook_url_studio_errors}"
      }
    }
  ]
})}
