provider "aws" {
  assume_role {
    role_arn     = "arn:aws:iam::712893914485:role/tf-twilio-iac-${environment}"
    session_name = "tf-${environment}-${short_helpline}-${stage}"
  }

  region = "us-east-1"

  # Make it faster by skipping some things
  skip_region_validation      = true
  skip_credentials_validation = true
}