terraform {
  required_providers {
    twilio = {
      source  = "twilio/twilio"
      version = "0.17.0"
    }
    datadog = {
      source  = "datadog/datadog"
      version = "3.46.0"
    }
  }

  backend "local" {
    path = "${local_state_path}"
  }
}
