{
  "type": "inbound",
  "name": "{{trigger.call.From}}",
  "ignoreAgent": "",
  "helpline": "Barnardos",
  "transferTargetType": "",
  "channelType": "voice",
  "clientType": "{{flow.variables.clientType}}",
  "conversations": {
    "hang_up_by": "Customer"
  }
}
