name: Run plugin-hrm-form CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout Branch
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install the Twilio CLI and plugins
      run: npm install twilio-cli -g && twilio plugins:install @twilio-labs/plugin-flex
    - name: Create Temp Files
      run: |
        touch ./public/appConfig.js
        mkdir ./src/private
        touch ./src/private/secret.js
      working-directory: ./plugin-hrm-form
    - name: Install hrm-form-definitions Packages
      run: npm ci
      working-directory: ./hrm-form-definitions
    - name: Run hrm-form-definitions Lint
      run: npm run lint
      working-directory: ./hrm-form-definitions
    - name: Run hrm-form-definitions Tests
      run: npm run test
      working-directory: ./hrm-form-definitions
    - name: Install Packages
      run: UNBUNDLED_REACT=true npm ci
      working-directory: ./plugin-hrm-form
    - name: Run Lint
      run: npm run lint --if-present
      working-directory: ./plugin-hrm-form
    - name: Install e2e-test Packages
      run: npm ci && npx playwright install --with-deps
      working-directory: ./e2e-tests
    - name: Run e2e test code Lint
      run: npm run lint
      working-directory: ./e2e-tests
    - name: Run e2e test
      run: PLAYWRIGHT_USER_USERNAME=${{secrets.PLAYWRIGHT_USER_USERNAME}} PLAYWRIGHT_USER_PASSWORD=${{secrets.PLAYWRIGHT_USER_PASSWORD}} TWILIO_ACCOUNT_SID=${{secrets.E2E_DEV_ACCOUNT_SID}} npx playwright test
      working-directory: ./e2e-tests
      env:
        TWILIO_ACCOUNT_SID: ${{secrets.E2E_DEV_ACCOUNT_SID}}
    - name: Run Tests
      run: TWILIO_ACCOUNT_SID=${{secrets.E2E_DEV_ACCOUNT_SID}} TWILIO_AUTH_TOKEN=${{secrets.E2E_DEV_AUTH_TOKEN}} npm run test:jest
      working-directory: ./plugin-hrm-form
      env:
        CI: true
    