# Copyright (C) 2021-2023 Technology Matters
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see https://www.gnu.org/licenses/.

name: Run plugin-hrm-form CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install hrm-form-definitions Packages
        run: npm ci
        working-directory: ./hrm-form-definitions
      - name: Run hrm-form-definitions Lint
        run: npm run lint
        working-directory: ./hrm-form-definitions
      - name: Install plugin-hrm-form Packages
        run: npm ci
        working-directory: ./plugin-hrm-form
      - name: Run plugin-hrm-form code Lint
        run: npm run lint --if-present
        working-directory: ./plugin-hrm-form
      - name: Install e2e-test Packages
        run: npm ci
        working-directory: ./e2e-tests
      - name: Run e2e-test code Lint
        run: npm run lint
        working-directory: ./e2e-tests
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout Branch
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install hrm-form-definitions Packages
      run: npm ci
      working-directory: ./hrm-form-definitions
    - name: Run hrm-form-definitions Tests
      run: npm run test
      working-directory: ./hrm-form-definitions
    - name: Install pligin-hrm-form Packages
      run: npm ci
      working-directory: ./plugin-hrm-form
    - name: Run plugin-hrm-form Tests
      run: TWILIO_ACCOUNT_SID=${{secrets.AS_DEV_ACCOUNT_SID}} TWILIO_AUTH_TOKEN=${{secrets.AS_DEV_AUTH_TOKEN}} npm run test
      working-directory: ./plugin-hrm-form
      env:
        CI: true