# Copyright (C) 2021-2023 Technology Matters
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see https://www.gnu.org/licenses/.

# This is a basic workflow to run terraform plan for a twilio IAC account with Github Actions

name: Terraform Plan

# Controls when the action will run.
on:
  workflow_dispatch:
    inputs:
      helpline:
        description: Directory name of helpline to run plan against
        required: true
        type: string
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1

jobs:
  terraform_plan:
    name: Terraform Plan
    runs-on: ubuntu-latest

    container:
      image: public.ecr.aws/techmatters/terraform:1.3.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform Plan
        working-directory: ./twilio-iac/${{ inputs.helpline }}
        run: |
          echo "Running terraform init for ${{ inputs.helpline }}"
          terraform init > /dev/null
          echo "Running terraform refresh for ${{ inputs.helpline }}"
          terraform refresh -input=false > /dev/null
          echo "Running terraform plan for ${{ inputs.helpline }}"
          terraform plan -input=false -refresh=false -out=/tmp/tfplan > /dev/null
          echo "Running terraform show for ${{ inputs.helpline }}"
          terraform show -no-color /tmp/tfplan > /tmp/plan.log

      - uses: actions/upload-artifact@v3
        with:
          name: plan.log
          path: /tmp/plan.log
