{
  "type": "inbound",
  "name": "{{trigger.call.From}}",
  "ignoreAgent": "",
  "helpline":"${helpline}",
  "transferTargetType": "",
  "channelType": "voice",
  "clinical":  "{{flow.variables.clinical}}" 
}